<h1>Hun.io</h1>
<div id="center_box">
<div class="errors"></div>
	<%= render "form" %>
	<div id="bee_container">
		<img class="tossing" src="assets/bee2.png">
	</div>
</div>

<div class="love"></div>
